# Telegram Bot API & User Account
pyrofork==2.0.106
tgcrypto==1.2.5

# Voice Chat Streaming
py-tgcalls==2.1.0

# Fetching Xtream API
aiohttp==3.9.1

# HTTP Server for Render
flask==3.0.0

# Additional dependencies
gunicorn==21.2.0
